{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.name }} - Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">        
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <div>
            <img src="https://cdn.discordapp.com/emojis/938705475946553344.webp?size=96&quality=lossless" alt="logo" />
          </div>
          <li>
            <a href="{% url 'home' %}">Scrumptious</a>
          </li>
          <li>
            <a href="{% url 'tags_list' %}">Tags</a>
          </li>
          <li>
            <a href="{% url 'admin:index' %}">Admin</a>
          </li>
          <li>
            <a href="{% url 'recipe_new' %}">Write a recipe</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ recipe }}"?</p>
        {{ form.as_p }}
        <div class="control">
          <button class="button">Delete</button>
        </div>
      </form>
    </main>
  </body>
</html>